<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC83spMl52ZqGAqffrK1qUssPjrZNO-MA</string>
	<key>GCM_SENDER_ID</key>
	<string>46471806468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosacademy.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-a07ce</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-a07ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46471806468:ios:434d418d13597b720a3f51</string>
</dict>
</plist>